@model IEnumerable<PruebaBJXIT.Models.Proveedores>

@{
    ViewBag.Title = "Proveedores";
}

<h2>Proveedor</h2>

<p>
    @Html.ActionLink("Create Proveedor", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table" id="tbProveedor">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RFC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>




@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbProveedor').DataTable();
        });
    </script>
}




