@model IEnumerable<PruebaBJXIT.Models.Roles>

@{
    ViewBag.Title = "Index";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Crear rol", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table" id="tbRol">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_matricula}, htmlAttributes: new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_matricula }, htmlAttributes: new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_matricula }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </tbody>
</table>


@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbRol').DataTable();
        });
    </script>
}